{% extends 'base.html' %}
{% block content %}
	<h2> Welcome to <span class="text-primary">NAU CFL</span>! <small>Computational Finance Lab of North American University</small></h2>
	<h3 class="text-primary">
		Who are we?
	</h3>
	<p >
		NAU-CFL is a Lab under the supervision of Dr. Osman Nal to study in Computational Finance Area. We have following goals for this website:
		<ul>
			<li>allow people with zero python knowledge to use the scripts by interaction through simple Web GUI;</li>
			<li>beautify scripts' output with modern CSS and HTML formatting;</li>
			<li>aggregate all the scripts in one repo but in a separate sandboxed directories to increase code manageability.</li>
		</ul>
	</p>
<h3 class="text-primary">
		How to use?
	</h3>
	<p >
		Navigate through the side menu to the desired script and follow the instructions.
	</p>
<h3 class="text-primary">
		Contacts
	</h3>
	<p >
		Have any ideas, questions, problems? Visit <a href="/contacts">contacts</a> page for all the details.
	</p>
{% endblock %}
